.content {
	width: 100vw;
}

.context {
	width: 60%;
    color: #373D3f;
	z-index: 5;
	padding: 4rem;
}

.about h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  color: #333;
}
.about h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 75px;
  background-color: #c50000;
}
.about h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #c50000;
}

.about p {
	text-align: justify;
	font-size: 1.1rem;
    color: #222;
}

.about h4 {
	font-size: 1.3rem;
}

.lines {
	position: absolute;
	top: 100vh;
	right: 0;
	height: 100%;
	margin: auto;
	width: 50vw;
	z-index: 5;
}

.line {
	position: absolute;
	width: 1.5px;
	height: 100%;
	top: 0;
	right: 0;
	overflow: hidden;
	background-color: #111;
}

.line::after {
	content: "";
	display: block;
	position: absolute;
	height: 15vh;
	width: 100%;
	top: -50%;
	left: 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		#ffffff 75%,
		#ffffff 100%
	);
	animation: drop 7s 0s infinite;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
	margin-right: 50%;
	width: 1.7px;
}

.line:nth-child(1)::after {
	animation-delay: 2s;
}
.line:nth-child(2) {
	margin-right: 25%;
}

.line:nth-child(2)::after {
	animation-delay: 2s;
}

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 110%;
	}
}

@media only screen and (max-width: 1250px) {
	.context {
		width: 70%;
	}

	.line:nth-child(1) {
		margin-right: 60%;
	}
}

@media only screen and (max-width: 1000px) {
	.about {
		padding: 3rem;
	}

	.lines {
		display: none;
	}

	.context {
		padding: 0;
		width: 100%;
	}

	.context h1 {
		font-size: 2.2rem;
	}
	
	.context h4 {
		font-size: 1.2rem;
		text-align: center;
	}
}                
