.theme{
margin: auto;
width: 60%;
border: 2px solid #FFFF00;
padding: 10px;
border-radius: 20px ;
}
  
.iframe-container{
  background-color: #08042c;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 20;
  width: 100%;
  height: 100%;
}



  
  
