.speakers h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  color: #111;
}
.speakers h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  height: 5px;
  width: 30%;
  background-color: #c50000;
}
.speakers h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 100%;
  background-color: #c50000;
}
.hero {
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
}

.hero .carousel {
	margin-top: 3rem;
    overflow: visible;
}

.carousel img{
    width:350px;
    -webkit-box-reflect: below 17px linear-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.3));
}

.contint div{
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.contint:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.speakers h1 {
		font-size: 2.3rem;
	}
	.carousel {
		transform: scale(0.8);
	}
}
