@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  /* background-color: #920A82; */
}

body::-webkit-scrollbar {
  display: none;
}
/*navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: 0.6s;
  }
  
  .header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin: 0.7rem;
  }
  
  .header .logo img {
    max-width: 40px;
    
  }
  
  .header .logo img:hover {
    filter: invert(1) brightness(1000%);
  }
  
  .header #toggle {
    
    position: relative;
    height: 60px;
    cursor: pointer;
    margin: 1.5rem;
    margin-right: -2.5rem;
  }
  
  #toggle {
    transform: translate(-50%, -50%) scaleX(1.2);
    cursor: pointer;
  }
  
  #toggle path {
    stroke-width: 30;
    stroke-linecap: round;
    stroke: #ffff;
    fill: none;
    transition: all 0.5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar {
    stroke-dasharray: 240px 910px;
  }
  
  .middle_bar {
    stroke-dasharray: 240px 240px;
    stroke: #fff;
  }
  
  /* In cross form */
  
  #toggle.active .top_bar,
  #toggle.active .bottom_bar {
    stroke-dashoffset: -650px;
    stroke:#000;
  }
  
  #toggle.active .middle_bar {
    stroke-dasharray: 0px 220px;
    stroke-dashoffset: -120px;
    stroke: #000;
  }
  
  .banner {
    position: fixed;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: 0.5s;
    z-index: 14;
    overflow-x: hidden;
  }
  
  #navigation {
    position: fixed;
    top: 0;
    right: -102vw;
    width: 300px;
    height: 100vh;
    background: cyan ;
    z-index: 13;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  
  #navigation.active {
    right: 0;
  }
  
  #navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  #navigation ul li {
    list-style: none;
  }
  
  #navigation ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #navigation ul li a:hover {
    color:magenta;
  }
  
  .sci {
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
  .sci li {
    list-style: none;
    place-items: center;
  }
  
  .sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px 0 0;
  }
  
  .sci li a img {
    width: 40px;
    padding: 4px;
    border-radius: 8px;
  }
  
  .sci li a:hover {
    filter: invert(0.5);
    filter: hue-rotate(30);
  }
  
  .sci li:first-child img {
    transform: scale(1.2);
  }
  .first-page {
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(to left, #8fb4f3, #19475f, #19475f);*/
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-clip: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
  }
  
  @media(min-aspect-ratio:16/9){
    .back-video{
      width:100%;
      height:auto;
    }
  }
  @media(max-aspect-ratio:16/9){
    .back-video{
      width:auto;
      height:100%;
    }
  }
  .back-video {
  width: 100%;
    min-height:100vh ;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index:-1;
  }
 
  .main-section {
  
    text-align: center;
  }
  
  .main-section h1 {
    margin: 0;
  font-size: 180px;
  color: rgba(225,225,225, .01);
  border-width: 2px;
  border-color: #000;
  background-image: url("images/title.avif");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  }
  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
.full{
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-size:40px;
    color: #fff;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

 .main-section span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.main-section span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-section span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-section span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-section span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-section span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-section span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}



@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
  /*responsive*/
@media only screen and (max-width: 1200px) {
    .main-section h1 {
      font-size: 10rem;
    }
   
  }
  
  @media only screen and (max-width: 800px) {
    .main-section h1 {
      font-size: 7.5rem;
    }
    .full{
        font-size:30px ;
    }
    
  }
  
  @media only screen and (max-width: 500px) {
    .main-section h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
    }
    .full p{
        font-size: 20px;
    }
    
  }
  .pre-loader{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    position:fixed;
    align-items: center;
    background-color: #000;
    z-index: 1000;
  }
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  button {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #ddebf0;
    cursor: pointer;
  }
  
  #clip {
    --color: #2761c3;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #2761c3;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
  }
  
  button:hover #rightArrow {
    background-color: #27c39f;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  button:hover #leftArrow {
    background-color: #27c39f;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #2761c3;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  button:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  button:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #2781c3;
    }
  
    to {
      background-color: #27c39f;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #27c39f;
    }
  
    to {
      box-shadow: 0 0 2px #27c39f;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #27c39f;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  .pre-loader{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    position:fixed;
    align-items: center;
    background-color: #000;
    z-index: 1000;
    overflow: hidden;
    user-select: none;
  }
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .first-page a{
    text-decoration: none;
  }